@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campaigns</h1>
    <p class="lead">An RPG toolkit</p>
    <p>Quickly handle the complexities of managing your campaign's characters.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>An excuse to use new technologies</h2>
        <p>
            This is really just a testbed for some ASP.Net, Web API, MVC and Angular.js experimentation.
        </p>
        <p>Currently I am working on character sheet generation. @Html.ActionLink("Try it out!", "Index", "CharacterSheets")</p>
    </div>
</div>
