@model IEnumerable<Campaigns.Models.Sessions.SessionViewModel>

@{
    ViewBag.Title = "Session";
}

<div class="container">
    <div class="jumbotron">
        <h1>Sessions</h1>
        <p>Create a new session and invite other people to it by sharing your unique URL.</p>
        <p><a class="btn btn-primary btn-lg" href="javascript:location.href='@Url.Action("Create")'">New Session</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Join a Private Session</h3>
            @using (Html.BeginForm("Join", "", FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" class="form-control" name="id" placeholder="Session ID"></input>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Join</button>
                    </span>
                </div>
            }
        </div>
        <div class="col-md-8">
            <h3>Public Sessions</h3>
            @foreach (var m in Model)
            {
                <div class="session">
                    <div class="session-title">
                        @Html.ActionLink(m.Id, "Join", new { id = m.Id })
                    </div>
                </div>
            }
        </div>
    </div>
</div>